.input_wrapper {
    display: flex;
    flex-direction: column;
}

.input_wrapper input {
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: 2px solid white
}

.input_wrapper input:focus {
    outline: 3px solid var(--back-color)
}

@media(prefers-color-scheme: light) {
    .input_wrapper input {
        outline: 2px solid black
    }

    .input_wrapper p>b {
        color: red;
    }
}

.input_wrapper p>b {
    color: rgb(255, 67, 67);
}