.form_wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register_form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    outline: 2px solid white;
    border-radius: 15px;
}

.register_form *:not(:last-child) {
    margin-bottom: 10px;
}

.register_form button,
.register_form__error,
.register_form p {
    border-radius: 10px;
}

.register_form button {
    background: none;
    border: none;
    outline: 2px solid white;
    height: 30px;
    margin-top: 10px;
    font-family: BoldTitle;
    line-height: 30px;
}

.register_form button:hover {
    color: black;
    background-color: white;
}

.register_form button:disabled {
    background-color: gainsboro;
    outline: 2px solid rgb(82, 82, 82);
    color: grey;
    cursor: not-allowed;
}

.register_form button:disabled:hover {
    background-color: gainsboro;
    color: grey;
}

.register_form h1 {
    text-align: center;
}

.register_form a {
    text-decoration: underline;
}

@media(prefers-color-scheme: light) {

    .register_form button,
    .register_form {
        outline: 2px solid var(--back-color)
    }

    .register_form button:hover {
        background-color: var(--back-color);
        color: white;
    }
}

.register_form p[data-banner-type='error'] {
    background-color: pink;
    outline: 2px solid red;
    padding: 10px;
    color: red;
    text-align: center;
}

.register_form p[data-banner-type='success'] {
    background-color: rgb(171, 255, 173);
    outline: 2px solid green;
    padding: 10px;
    color: green;
    text-align: center;
}