.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 70px;
    row-gap: 10px;
    column-gap: 25px;
}

@media only screen and (max-device-width : 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 10px;
        padding-top: 25px;
        border-top: 2px solid var(--text-color);
    }
}

.calculator_input input {
    outline: 2px solid var(--green-color);
}

.calculator_input input:focus {
    outline: 3px solid var(--green-color)
}

.calculator_input label {
    font-weight: 600;
}

.container button {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button_red {
    border: 1px solid var(--error-color);
}

.button_green {
    border: 1px solid green;
}

.container button>svg {
    stroke: var(--error-color);
}

.infofield {
    height: 30px;
    display: flex;
    align-items: center;
}

.buttons_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}