.error_wrapper h1 {
    font-size: 90px;
    margin-bottom: 30px;
}

.error_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}