.container {
    background-color: var(--back-color);
    color: var(--error-color);
    width: 100%;
    border-bottom: 2px solid var(--error-color);
    text-align: center;
    font-size: 15px;
    font-family: BoldTitle;
    padding: 10px 0;
}