.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background-color: var(--green-color);
    position: fixed;
    height: var(--nav-height);
    transition: height .2s;
    width: 100vw;
    overflow-y: hidden;
}

.container>* {
    height: 100%;
}

.container>a {
    line-height: var(--nav-height);
}

.container>:nth-child(1) {
    padding-left: 20px;
}

.container[aria-expanded="true"] {
    height: fit-content;
}

.container__expandbtn {
    display: none;
}

@media only screen and (max-device-width : 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .container>a {
        width: 100%;
        padding-left: 20px;
    }

    .container__expandbtn {
        --expandbtn-size: 30px;
        position: absolute;
        right: 10px;
        top: calc((var(--nav-height) - 30px) / 2);
        padding: 0 !important;
        display: block;
        height: 30px;
        width: 30px;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container__expandbtn>svg {
        fill: black;
    }

    .navbar__button_last {
        position: static !important;
    }
}

.container>* {
    color: black
}

.navbar__button {
    text-decoration: none;
}

.navbar__button_active {
    text-decoration: underline;
}

.navbar__button_last {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    right: 20px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__button_last>svg {
    fill: black;
    translate: 0 -1px;
}

.navbar__button_last>p {
    color: black;
    font-family: BoldTitle;
}

.navbar__button_last>:nth-child(1) {
    padding-right: 5px;
}

#home {
    font-family: BoldTitle;
    text-decoration: none;
    font-size: 25px;
    line-height: var(--nav-height);
}

.navbar__button_profile>svg {
    scale: 1.5;
}