.labels_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(2, 30px);
    gap: 25px;
}

.labels_wrapper>p {
    font-weight: 600;
}

.add_button {
    background: none;
    border: none;
    padding: 0;
}

.add_button>svg {
    stroke: var(--green-color);
    transform: scale(1.5);
}