.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-color);
    min-height: 100vh;
    padding: 0 20px;
    width: min(1200px, 100vw);
}

* {
    color: var(--text-color);
    font-family: Main;
}

input {
    background-color: var(--input-bg-color);
    color: var(--text-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: BoldTitle;
}