.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-color);
    min-height: 100vh;
    width: 1200px;
}

* {
    color: var(--text-color);
    font-family: Main;
}

input {
    background-color: var(--input-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: BoldTitle;
}