.container {
    display: flex;
    flex-direction: column;
}

.container input {
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.container p {
    color: var(--error-color);
    font-weight: 600;
}

.container> :not(:last-child) {
    margin-bottom: 10px;
}